<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.i2i.cellcelly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="cellcelly"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.cellcelly"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.ChangePasswordScreen"
            android:exported="false"
            android:label="@string/title_activity_change_password_screen"
            android:theme="@style/Theme.cellcelly" />
        <activity
            android:name=".view.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainScreen"
            android:exported="true" />
        <activity
            android:name=".view.RegisterScreen"
            android:exported="true" />
        <activity
            android:name=".view.ForgotPasswordScreen"
            android:exported="true" />
    </application>

</manifest>